<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swift Response</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dac0718308.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/common_styles.css">


</head>

<body>
    {{>preloader}}
        <div id="content" class="hidden">
    {{>navbar}}
    {{{body}}}
{{>footer}}
</div>
</body>
<script src="/js/common.js"></script>
</html>