<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swift Response</title>
    <script src="https://kit.fontawesome.com/dac0718308.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/common_styles.css">


</head>

<body>
    {{>preloader}}
        <div id="content" class="hidden">
    {{>navbar}}
    {{{body}}}
{{>footer}}
</div>
</body>
<script src="/js/index.js"></script>
</html>