@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #E1F1F3, #F4FAF5);
    /* background: linear-gradient(35deg, #e0f1ff, #e6ffe6); */
    /* background: linear-gradient(135deg, #d6f3ff, #daffda); */
    font-family: Lato, Cons !important;
}



.navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /*     background: linear-gradient(to right, #E1F1F3, #F4FAF5); */
    background: linear-gradient(to bottom, #ecfdff, #f7fff9);
    /* background: rgba(220, 255, 239, 0.85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* Other styling properties */
    z-index: 100;/
}


/* .nav-links::before {
    content: "";
    position: absolute;
    width: 4.5em;
    height: 30%;
    top: 0;
    left: 20%;
    background-color: #A9FE8B;
    z-index: -999;
}

.nav-links::after {
    content: "";
    position: absolute;
    width: 4.5em;
    height: 30%;
    top: 0;
    right: 20%;
    background-color: #A9FE8B;
    z-index: -999;
} */
.preloader {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
        background: #f7fff9;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}
.hidden{
    display: none;
}
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;


}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: #000000 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}

.logo {
    font-size: large;
}

#btn {
    font-family: Lato, Cons !important;
    font-weight: bold;
}

.nav-links {
    margin-right: -2.9em;
}

.cur-page {
    font-weight: bolder;
    color: #000000;
}


.list a {
    position: relative;
    margin: 1.2em;

}

.list li {
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    /*     margin: 20px; */
}

.login a button {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    border: none;

}

.login i {
    cursor: pointer;
}

.login a {
    margin: 1em;
}

@media (min-width:900px) {
    .logo {
        margin-left: -1.9em;
    }

    .login {
        margin-right: -3.5em;
    }

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

}

a>button {
    background-color: #8fff67;

    border-radius: 13px;

    margin: none;

}

::selection {
    background-color: #A9FE8B !important;
    color: #000000;
    -webkit-text-fill-color: #000000;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 1em;
}












.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #A2F2F5, #BCF7E4);
    color: black;
    overflow: hidden;
    width: max-content;
    cursor: pointer;
    border: 1px solid #000;

}

.cssbuttons-io:hover {
    color: #000;
    border: 1px solid #EBF6F4;
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #EBF6F4;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}
#delete{
    background: linear-gradient(to bottom, #ffcece, #ff9d9d);
    color: #000000;
    border: 1px solid #000000;
}
.btn-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
.input {
    width: 100%;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}


.input {
    border: none;


}

.input:hover,
.input:focus {

    border: 3px solid black;


}

.input-group {
    width: 30ch;

}

.input:hover,
.input:focus,
.input,
.input:focus {
    color: #05060fc2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}

.round-i{
    display: inline-flex;
    border-radius: 50%;
    padding: 0.25em 0.5em;
        background: #59ff00;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;

            transition: all 0.5s ease-in-out;
            font-family: Lato, Cons !important;
            font-style: bold;
}
.round-i:hover{

            background: #ff0000;
        transition: all 0.5s ease-in-out;
}












.footer {
    display: grid;
    grid: 160px / 25% 25% 25% 25%;
    place-items: center;

}

.ft-1,
.ft-2,
.ft-3,
.ft-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width: 600px) {
    .footer {
        flex: 0 0 auto;
        grid: 200px/ 50% 50%;
    }
}

@media(min-width: 990px) {
    .footer {
        flex: 0 0 auto;
        grid: 160px / 25% 25% 25% 25%;
    }

    .ft,
    .ft-2,
    .ft-3,
    .ft-4 {
        margin: 1em;
    }

}

@media(max-width:599px) {
    .footer {
        flex: 0 0 auto;
        grid: 200px/ 100%;
    }
}

.ft-1>a,
.ft-2>a,
.ft-3>a,
.ft-4>a {
    margin: 2px;
}

.ft-1>h4,
.ft-2>h4,
.ft-3>h4,
.ft-4>h4 {
    margin: 1em;
}

.footer {

    margin-top: 1.5em;

}
.note{
    margin: 2em;
}
.note p {
        display: inline;

    color: #000000;
    font-family: Lato, Cons !important;
}