.content{
min-height: 100vh;
text-align: center;
font-style: italic;
}
#wave{
        position: absolute;
            top: 0px;
            z-index: -999;
}
.navbar{
        background: linear-gradient(to bottom, #ecfdff, #f7fff9);
}


.input {
    width: 100%;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}
.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}


 .input {
   border: none;


}
.input:hover,.input:focus{

 border: 3px solid black;


}
.input-group{
width:30ch;

}

.input:hover,
.input:focus,
.input,
.input:focus {
    color: #05060fc2;
}

.form{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}

.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #A2F2F5, #BCF7E4);
    color: ghostwhite;
    overflow: hidden;
    width: max-content;
    cursor: pointer;

}
.cssbuttons-io:hover{
    color: #000;
}
.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

.btn-placement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}