.content {
    min-height: 100vh;
    text-align: center;
    font-style: italic;
}

#wave {
    position: absolute;
    top: 0px;
    z-index: -999;
}

.navbar {
    background: linear-gradient(to bottom, #ecfdff, #f7fff9);
}


.input {
    width: 100%;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}


.input {
    border: none;


}

.input:hover,
.input:focus {

    border: 3px solid black;


}

.input-group {
    width: 30ch;

}

.input:hover,
.input:focus,
.input,
.input:focus {
    color: #05060fc2;
}

.form {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}




.btn-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}