<div class="footer">
  <div class="ft-1">
    <h4>Account</h4>
    <a href="login">Log In</a>
    <a href="signup">Create New Account</a>
    <a href="deleteac">Delete Your Account</a>
    <a href="privacypolicy">Privacy Policy</a>
  </div>
  <div class="ft-2">
    <h4>Follow Us</h4>
    <a href="https://www.facebook.com/">Facebook</a>
    <a href="https://www.instagram.com/">Instagram</a>
    <a
      href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"
    >X(Twitter)</a>
    <a
      href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"
    >Discord</a>
  </div>

  <div class="ft-3">
    <h4>Interactions</h4>
    <a href="contactus">Contact Us</a>
    <a href="#home">Feedback</a>
    <a href="aboutus">About Us</a>
    <a href="#home">Join Us</a>
  </div>

  <div class="ft-4">
    <h4>Services</h4>
    <a href="#home">Services</a>
    <a href="#home">For Hospitals(Register with us)</a>
    <a href="our-application">Our Application</a>
    <a href="donateus">Donate Us</a>
  </div>
</div>
<div>
  <h5>&copy;2023 SwiftResponse.All Rights Reserved</h5>
</div>