<div class="navbar">
    <div class="logo">
        <i class="fa-brands fa-pix fa-2xl"></i>
    </div>
    <div class="logo-name"><a href="index"><span class="name">SwiftResponse</span></a></div>
    <div class="nav-links">
        <ul class="list" id="primary-nav" data-visible="false">
            <li><a href="index" id="home"{{!--  class="cur-page" --}}>Home</a></li>
            <li><a href="#services" id="services">Services</a></li>
            <li><a href="#Aboutus" id="Aboutus">About Us</a></li>
            <li><a href="contactus" id="contact">Contact Us</a></li>

        </ul>
    </div>
    <div class="login">
        <a><button id="btn" onclick="checkloggedIn()">Log In</button></a>

        <button class="btn-i"><i class="fa-solid fa-bars fa-lg" id="menu"></i></button>
    </div>
</div>
{{!-- {{#if (isAuthSuccess url)}}
<div class="login">
    <a href="login" style="display: none;"><button id="btn">Log In</button></a>
{{else}}> 
<!-- display the button -->
<div class="login">
    <a href="login" style="display: none;"><button id="btn">Log In</button></a>
{{/if}} --}}

<script>
    window.onload = () => {
        const lgn = document.getElementById('btn');
        const logged_in_cookie = document.cookie.split(';').some((item) => item.trim().startsWith('logged_in='));

        if (logged_in_cookie) {
            lgn.innerHTML = 'Log Out';
        } else {
            lgn.innerHTML = 'Log In';
        }
    }

    const checkloggedIn = () => {
        const logged_in_cookie = document.cookie.split(';').every((item) => item.trim().startsWith('logged_in='));

        if (logged_in_cookie) {
            document.cookie.split(';').forEach((c) => {
                document.cookie = c.replace(/^ +/, '').replace(/=.*/, '=;expires=' + new Date().toUTCString() + ';path=/');})
                window.location.href = '/index';
            
        } else {
            window.location.href = '/login';
        }
    };
        
</script>