@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/*     background: linear-gradient(to right, #E6F7FA, #F8EBE4); */
   
/*     background-image: radial-gradient(circle, #e3f4f8, #e9f5fb, #f0f7fd, #f5f9fe, #fafbfe, #fbfbfd, #fcfafd, #fcfafc, #fcf6f8, #fcf1f3, #fbedeb, #f9eae3); */
/*     background: linear-gradient(to right, #d4feff, #ffffff); */
/*     #02aab0 #00cdac */
/*     background: linear-gradient(to left, #ecfdff, #f7fff9); */
    font-family: Lato, Cons !important;
    background: white;
}
.donate-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 7px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        /*     -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem); */

}
@keyframes animate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo-name {
    display: none;
}
@media (min-width:900px) {
    .nav-links::before {
        content: "";
        position: absolute;
        width: 4.5em;
        height: 100%;
        top: 0;
        left: 20%;
        background-color: #5affc0;
        z-index: -9999;
        animation: animate 7s ease-in-out;
    }

    .nav-links::after {
        content: "";
        position: absolute;
        width: 4.5em;
        height: 100%;
        top: 0;
        right: 20%;
        background-color: #5affc0;
        z-index: -9999;
        animation: animate 7s ease-in-out;
    }

}
@media(max-width:630px){
   .list{
        position: fixed;
       display: flex;
       flex-direction: column;
       inset: 0 0 0 30%;
/*        background:hsl(0, 0%, 100%, 0.1); */
/*     background: linear-gradient(to left, #ecfdff, #f7fff9); */
background: white;
       padding: min(30vh,10rem) 2rem;
       -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
                transform: translateX(100%);
                        opacity: 0;
transition: opacity 800ms ease-in-out transform 400ms;
    }
.list>li {
        margin: 1rem;
    }
    .btn-i{
       z-index: 9999;
    }
    .visible{
        transform: translateX(0);
        transition: opacity 800ms ease-in-out transform 400ms; 
        opacity: 0.95;
    }
#primary-nav {
    transition: transform 400ms,opacity 600ms;
    }
.login a button{
    padding: 1em !important;
}
.logo-name {
    display: inline;
    position: relative;
        left: 6.5%;
}
.login a{
    margin: 1em 0 1em 0 !important;
}
.login{
    position: relative;
    right: -5%;
}
.name{
    font-weight: bold !important;
}
/* .logo-name a span{
    transition: all 500ms ease-in-out;
}
.logo-name a span::after{
    content:"";
    width: 1px;
        height: 2px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 500ms ease-in-out;
}
.logo-name a span:hover::after{    
    background: #000;
       transform: scaleX(130);
        transition: transform 500ms ease-in-out;
            left: 62%;
    } */
}


.btn-i{
    background: transparent;
border: none;
}
.btn-i i{
        margin: 0.5em;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
}
/* .nav-links::before {
    content: "";
    position: absolute;
    width: 4.5em;
    height: 100%;
    top: 0;
    left: 20%;
    background-color: #5affc0;
    z-index: -9999;
    animation: animate 7s ease-in-out;
}

.nav-links::after {
    content: "";
    position: absolute;
    width: 4.5em;
    height: 100%;
    top: 0;
    right: 20%;
    background-color: #5affc0;
    z-index: -9999;
    animation: animate 7s ease-in-out;
} */
.preloader {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        background: aliceblue;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn-right {
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeIn-left {
    0% {
       opacity: 0;
       transform: translateX(100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeIn-down {
    0% {
       opacity: 0;
       transform: translateY(-100px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 
 @keyframes fadeIn-top {
    0% {
       opacity: 0;
       transform: translateY(100px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 
.hidden{
    display: none;
}
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;


}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: #000000 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}

.logo {
    font-size: large;
}

#btn {
    font-family: Lato, Cons !important;
    font-weight: bold;
}

.nav-links {
    margin-right: -2.9em;
}

.cur-page {
    font-weight: bolder;
    color: #000000;
}


.list a {
    position: relative;
    margin: 1.2em;

}

.list li {
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    /*     margin: 20px; */
}

.login a button {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    border: none;

}

.login i {
    cursor: pointer;
}

.login a {
    margin: 1em;
}

@media (min-width:900px) {
    .logo {
        margin-left: -1.9em;
    }

    .login {
        margin-right: -3.5em;
    }

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

}
.span-or{
    color: grey;
    

}
.line-part{
    position: relative;
    margin-bottom: 1em;
}
.span-or::before{
   content: "";
   position: absolute;
   width: 100px;
   height: 2px;
   background: grey;
   left: -55%;
   bottom: 7px;
}
.span-or::after{
    content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background: grey;
        bottom: 7px;
        right: -55%;
}
a>button {
    background-color: #5affc0;

    border-radius: 13px;

    margin: none;

}

::selection {
    background-color: #5affc0 !important;
    color: #000000;
    -webkit-text-fill-color: #000000;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 1em;
}












.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #A2F2F5, #BCF7E4);
    color: black;
    overflow: hidden;
    width: max-content;
    cursor: pointer;
    border: 1px solid #000;

}

.cssbuttons-io:hover {
    color: #000;
    border: 1px solid #EBF6F4;
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #EBF6F4;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

.btn-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.input {
    width: 100%;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}


.input {
    border: 1px solid #ccc;


}

.input:hover,
.input:focus {

    border: 3px solid black;


}

.input-group {
    width: 30ch;

}

.input:hover,
.input:focus,
.input,
.input:focus {
    color: #05060fc2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.round-i{
    display: inline-flex;
    border-radius: 50%;
    padding: 0.25em 0.5em;
        background: #59ff00;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;

            transition: all 0.5s ease-in-out;
            font-family: Lato, Cons !important;
            font-style: bold;
}
.round-i:hover{

            background: #ff0000;
        transition: all 0.5s ease-in-out;
}












.footer {
    display: grid;
    grid: 160px / 25% 25% 25% 25%;
    place-items: center;

}

.ft-1,
.ft-2,
.ft-3,
.ft-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width: 600px) {
    .footer {
        flex: 0 0 auto;
        grid: 200px/ 50% 50%;
    }
}

@media(min-width: 990px) {
    .footer {
        flex: 0 0 auto;
        grid: 160px / 25% 25% 25% 25%;
    }

    .ft,
    .ft-2,
    .ft-3,
    .ft-4 {
        margin: 1em;
    }

}

@media(max-width:599px) {
    .footer {
        flex: 0 0 auto;
        grid: 200px/ 100%;
    }
}

.ft-1>a,
.ft-2>a,
.ft-3>a,
.ft-4>a {
    margin: 2px;
}

.ft-1>h4,
.ft-2>h4,
.ft-3>h4,
.ft-4>h4 {
    margin: 1em;
}

.footer {

    margin-top: 1.5em;

}
.note{
    margin: 1em;
}
.note p {
        display: inline;

    color: #000000;
    font-family: Lato, Cons !important;
}