<link rel="stylesheet" href="css/aboutus.css" />
<main>
  <div class="container">
    <div><h1>About Us</h1></div>
    <h2>The Trusted Choice For Medical Services</h2>
    <p>Swift Response is a company that provides emergency ambulance service to
      people who need urgent medical attention. Whether it is a heart attack, a
      stroke, a road accident, or any other life-threatening situation, Swift
      Response is ready to help. With a team of qualified and experienced
      paramedics, nurses, doctors, and drivers, Swift Response can reach any
      location in Mumbai within minutes and provide the best possible care.
      Swift Response also has a network of partner hospitals that can offer
      specialized treatment for different conditions. Swift Response’s mission
      is to save lives and improve health outcomes for people who face medical
      emergencies. Swift Response is your reliable and trusted partner in
      emergency ambulance service.</p>
    <h2>Our History</h2>
    <p>Swift Response was founded in 2023 by three students who witnessed the
      slowness in ambulance services in Mumbai. They were studying in Hinduja
      College of Commerce and Economics, and they had a passion for social
      entrepreneurship. They wanted to create a company that would provide fast,
      reliable, and affordable emergency medical service to people who need it
      the most. They pooled their resources and skills, and launched Swift
      Response with a vision to save lives and improve health outcomes. They
      acquired a few ambulances, recruited and trained a team of paramedics,
      nurses, doctors, and drivers, and established a network of partner
      hospitals that could offer specialized treatment for different conditions.
      They also developed a system that would ensure smooth and efficient
      communication and coordination among the staff, the patients, and the
      hospitals. They named their company Swift Response, as they wanted to
      convey the message that their service is swift, responsive, and effective.</p>
    <h2>What Services Do We Offer?
    </h2>
    <p>
      At Swift Response, we understand that not all medical situations require
      an emergency ambulance service. Sometimes, you may need to transfer a
      patient from one hospital to another, or from a hospital to a home, or
      from a home to a diagnostic center. You may also need to rent an ambulance
      for other purposes, such as events, functions, or tours. For such
      situations, we offer non-emergency services that are convenient,
      affordable, and reliable. You can book a non-emergency ambulance service
      through our website or our app. You just need to select your location and
      destination, and we will show you the price based on the distance and the
      type of ambulance you need. You can also choose to pay through the app or
      collect the bill along with the hospital bill. We have a transparent and
      fair pricing policy that ensures you get the best value for your money.
      Our non-emergency ambulances are well-equipped and well-maintained, and
      our staff are well-trained and well-behaved. We also provide some
      additional features for your comfort and safety, such as real-time
      tracking, AI chat bot, and chat or call with the driver or the medical
      staff. You can use these features to get updates, assistance, or guidance
      while you are on the way. We value your feedback and suggestions, as they
      help us improve our service and meet your expectations. You can share your
      feedback with us through our
      <a href="feedback">Feedback Page</a>. You can also read our
      <a href="privacypolicy">Privacy Policy</a>
      and contact us through our
      <a href="contactus">Contact US</a>. Swift Response is your one-stop
      solution for all your non-emergency ambulance needs. We are here to serve
      you with professionalism, compassion, and excellence.
    </p>
    <h2>Our Application(Currently in Development).</h2>
    <p><b>Note</b>
      that the Emergency services are only offered in application not on website
      if you want non emergency services you can use our website for that.The
      application is available on play store please use our application and
      provide your feedback
    </p>
    <h2>What Do Our Users Have To Say</h2>
    <div class="user-review-container">
      <div class="review-box rev-box-1 grid-col-span-2">
        <div class="profile-pic">
          <img src="/image/dan.jpg" alt="daniel clifford" />
          <div class="names">
            <div class="profile-name">Daniel Clifford</div>
            <div class="description"><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#20c997"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"><path
                      d="M31.23633,1.69727l-0.80469,0.41211l-5.4375,2.78906l-6.24414,-3.19727l-3.80664,5.89258l-7.00586,0.35352l-0.34961,7.00781l-5.89062,3.80859l3.20117,6.24219l-3.19727,6.24414l5.89258,3.80664l0.35352,7.00586l7.00781,0.34961l3.80859,5.89063l6.24219,-3.20117l6.24414,3.19727l3.80664,-5.89258l7.00586,-0.35352l0.34961,-7.00781l5.89063,-3.80859l-3.20117,-6.24219l3.19727,-6.24414l-5.89258,-3.80664l-0.35352,-7.00586l-7.00781,-0.34961zM30.53906,4.30273l3.38281,5.23242l6.22461,0.30859l0.31445,6.22461l5.23242,3.38086l-2.83789,5.54492l2.8418,5.54492l-5.23242,3.38281l-0.30859,6.22461l-6.22461,0.31445l-3.38086,5.23242l-5.54492,-2.83789l-5.54492,2.8418l-3.38281,-5.23242l-6.22461,-0.30859l-0.31445,-6.22461l-5.23242,-3.38086l2.83789,-5.54492l-2.8418,-5.54492l5.23242,-3.38281l0.30859,-6.22461l6.22461,-0.31445l3.38086,-5.23242l5.54492,2.83789zM32.47461,18.46484l-10.20117,9.88867l-4.73242,-4.73242l-2.12109,2.12109l6.82031,6.82031l12.32227,-11.94336z"
                    ></path></g></g>
              </svg>Verified User</div>
          </div>

        </div>
        <div class="overview">Swift response is a fast and reliable ambulance
          service. They have modern ambulances and trained paramedics. They are
          available 24/7 and cover the whole city. Here is a review from one of
          their customers:</div>
        <div class="detail-review">“I had a heart attack at work and needed
          immediate medical attention. I called Swift response and they were
          there in no time. They stabilized me and transported me to the nearest
          hospital. They saved my life and I’m very grateful for their service.
          They were professional, friendly, and compassionate. I think they are
          the best ambulance service in the city.”
        </div>
      </div>

      <div class="review-box rev-box-2">
        <div class="profile-pic">
          <img src="/image/image-jonathan.jpg" alt="Jonathan Walters" />
          <div class="names">
            <div class="profile-name">Jonathan Walters</div>
            <div class="description"><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#20c997"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"><path
                      d="M31.23633,1.69727l-0.80469,0.41211l-5.4375,2.78906l-6.24414,-3.19727l-3.80664,5.89258l-7.00586,0.35352l-0.34961,7.00781l-5.89062,3.80859l3.20117,6.24219l-3.19727,6.24414l5.89258,3.80664l0.35352,7.00586l7.00781,0.34961l3.80859,5.89063l6.24219,-3.20117l6.24414,3.19727l3.80664,-5.89258l7.00586,-0.35352l0.34961,-7.00781l5.89063,-3.80859l-3.20117,-6.24219l3.19727,-6.24414l-5.89258,-3.80664l-0.35352,-7.00586l-7.00781,-0.34961zM30.53906,4.30273l3.38281,5.23242l6.22461,0.30859l0.31445,6.22461l5.23242,3.38086l-2.83789,5.54492l2.8418,5.54492l-5.23242,3.38281l-0.30859,6.22461l-6.22461,0.31445l-3.38086,5.23242l-5.54492,-2.83789l-5.54492,2.8418l-3.38281,-5.23242l-6.22461,-0.30859l-0.31445,-6.22461l-5.23242,-3.38086l2.83789,-5.54492l-2.8418,-5.54492l5.23242,-3.38281l0.30859,-6.22461l6.22461,-0.31445l3.38086,-5.23242l5.54492,2.83789zM32.47461,18.46484l-10.20117,9.88867l-4.73242,-4.73242l-2.12109,2.12109l6.82031,6.82031l12.32227,-11.94336z"
                    ></path></g></g>
              </svg>Verified User</div>
          </div>

        </div>
        <div class="overview">
          Swift response is the best ambulance service in the city. They are
          fast, reliable, and professional.
        </div>
        <div class="detail-review">
          “I had a severe allergic reaction and needed help. I called Swift
          response and they arrived in minutes. They gave me the right treatment
          and took me to the hospital. They were very friendly and caring. I’m
          very happy with their service and I would recommend them to anyone.”

        </div>
      </div>

      <div class="review-box rev-box-3">
        <div class="profile-pic">
          <img src="/image/image-jeanette.jpg" alt="Jeanette Harmon" />
          <div class="names">
            <div class="profile-name invert">Jeanette Harmon</div>
            <div class="description invert"><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#20c997"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"><path
                      d="M31.23633,1.69727l-0.80469,0.41211l-5.4375,2.78906l-6.24414,-3.19727l-3.80664,5.89258l-7.00586,0.35352l-0.34961,7.00781l-5.89062,3.80859l3.20117,6.24219l-3.19727,6.24414l5.89258,3.80664l0.35352,7.00586l7.00781,0.34961l3.80859,5.89063l6.24219,-3.20117l6.24414,3.19727l3.80664,-5.89258l7.00586,-0.35352l0.34961,-7.00781l5.89063,-3.80859l-3.20117,-6.24219l3.19727,-6.24414l-5.89258,-3.80664l-0.35352,-7.00586l-7.00781,-0.34961zM30.53906,4.30273l3.38281,5.23242l6.22461,0.30859l0.31445,6.22461l5.23242,3.38086l-2.83789,5.54492l2.8418,5.54492l-5.23242,3.38281l-0.30859,6.22461l-6.22461,0.31445l-3.38086,5.23242l-5.54492,-2.83789l-5.54492,2.8418l-3.38281,-5.23242l-6.22461,-0.30859l-0.31445,-6.22461l-5.23242,-3.38086l2.83789,-5.54492l-2.8418,-5.54492l5.23242,-3.38281l0.30859,-6.22461l6.22461,-0.31445l3.38086,-5.23242l5.54492,2.83789zM32.47461,18.46484l-10.20117,9.88867l-4.73242,-4.73242l-2.12109,2.12109l6.82031,6.82031l12.32227,-11.94336z"
                    ></path></g></g>
              </svg>Verified User</div>
          </div>

        </div>
        <div class="overview invert">
          Swift response is a great ambulance service. They are prompt,
          friendly, and helpful.</div>
        <div class="detail-review invert">
          “I had a high fever and needed to go to the hospital. I called Swift
          response and they came right away. They checked my temperature and
          gave me some medicine. They took me to the hospital and helped me with
          the admission process. They were very nice and courteous. I was very
          pleased with their service and I think they are the best in the city.”
        </div>
      </div>

      <div class="review-box rev-box-4 grid-col-span-2">
        <div class="profile-pic">
          <img src="/image/image-patrick.jpg" alt="Patrick Abrams" />
          <div class="names">
            <div class="profile-name">Patrick Abrams</div>
            <div class="description"><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#20c997"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"><path
                      d="M31.23633,1.69727l-0.80469,0.41211l-5.4375,2.78906l-6.24414,-3.19727l-3.80664,5.89258l-7.00586,0.35352l-0.34961,7.00781l-5.89062,3.80859l3.20117,6.24219l-3.19727,6.24414l5.89258,3.80664l0.35352,7.00586l7.00781,0.34961l3.80859,5.89063l6.24219,-3.20117l6.24414,3.19727l3.80664,-5.89258l7.00586,-0.35352l0.34961,-7.00781l5.89063,-3.80859l-3.20117,-6.24219l3.19727,-6.24414l-5.89258,-3.80664l-0.35352,-7.00586l-7.00781,-0.34961zM30.53906,4.30273l3.38281,5.23242l6.22461,0.30859l0.31445,6.22461l5.23242,3.38086l-2.83789,5.54492l2.8418,5.54492l-5.23242,3.38281l-0.30859,6.22461l-6.22461,0.31445l-3.38086,5.23242l-5.54492,-2.83789l-5.54492,2.8418l-3.38281,-5.23242l-6.22461,-0.30859l-0.31445,-6.22461l-5.23242,-3.38086l2.83789,-5.54492l-2.8418,-5.54492l5.23242,-3.38281l0.30859,-6.22461l6.22461,-0.31445l3.38086,-5.23242l5.54492,2.83789zM32.47461,18.46484l-10.20117,9.88867l-4.73242,-4.73242l-2.12109,2.12109l6.82031,6.82031l12.32227,-11.94336z"
                    ></path></g></g>
              </svg>Verified User</div>
          </div>

        </div>
        <div class="overview">
          Swift response is an ambulance service that you can trust. They are
          quick, efficient, and caring.
        </div>
        <div class="detail-review">
          “I had a car accident and was badly injured. I called Swift response
          and they were there in a flash. They treated me with care and
          expertise. They took me to the closest hospital and stayed with me
          until I was admitted. They were very supportive and helpful. I’m very
          thankful for their service and I think they are the best in the
          business.”
        </div>
      </div>

      <div class="review-box rev-box-5">
        <div class="profile-pic">
          <img src="/image/image-kira.jpg" alt="Kira Whittle" />
          <div class="names">
            <div class="profile-name invert">Kira Whittle</div>
            <div class="description invert"><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#20c997"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"><path
                      d="M31.23633,1.69727l-0.80469,0.41211l-5.4375,2.78906l-6.24414,-3.19727l-3.80664,5.89258l-7.00586,0.35352l-0.34961,7.00781l-5.89062,3.80859l3.20117,6.24219l-3.19727,6.24414l5.89258,3.80664l0.35352,7.00586l7.00781,0.34961l3.80859,5.89063l6.24219,-3.20117l6.24414,3.19727l3.80664,-5.89258l7.00586,-0.35352l0.34961,-7.00781l5.89063,-3.80859l-3.20117,-6.24219l3.19727,-6.24414l-5.89258,-3.80664l-0.35352,-7.00586l-7.00781,-0.34961zM30.53906,4.30273l3.38281,5.23242l6.22461,0.30859l0.31445,6.22461l5.23242,3.38086l-2.83789,5.54492l2.8418,5.54492l-5.23242,3.38281l-0.30859,6.22461l-6.22461,0.31445l-3.38086,5.23242l-5.54492,-2.83789l-5.54492,2.8418l-3.38281,-5.23242l-6.22461,-0.30859l-0.31445,-6.22461l-5.23242,-3.38086l2.83789,-5.54492l-2.8418,-5.54492l5.23242,-3.38281l0.30859,-6.22461l6.22461,-0.31445l3.38086,-5.23242l5.54492,2.83789zM32.47461,18.46484l-10.20117,9.88867l-4.73242,-4.73242l-2.12109,2.12109l6.82031,6.82031l12.32227,-11.94336z"
                    ></path></g></g>
              </svg>Verified User</div>
          </div>

        </div>
        <div class="overview invert">
          Swift response is a lifesaver. Literally. They are the most reliable
          and professional ambulance service I have ever used. They saved my
          father’s life when he had a cardiac arrest. Here is what happened:</div>
        <div class="detail-review invert">
          "It was a normal day and my father was working in his home office.
          Suddenly, he collapsed and started gasping for air. I was terrified
          and didn’t know what to do. I called Swift response and they answered
          immediately. They asked me some questions and instructed me how to
          perform CPR on my father. They also dispatched an ambulance to my
          location. The ambulance arrived in less than 10 minutes. The
          paramedics were very calm and efficient. They took over the CPR and
          applied a defibrillator to my father’s chest. They managed to revive
          him and stabilize his condition. They loaded him into the ambulance
          and drove him to the nearest hospital. They stayed with me throughout
          the whole ordeal and explained everything to me. They were very
          compassionate and supportive. They even called me later to check on my
          father’s condition and offer me some counseling. Thanks to Swift
          response, my father survived and recovered from his cardiac arrest. He
          is now back home and doing well. I can’t thank them enough for their
          service and care. They are truly the best ambulance service in the
          city and I would recommend them to anyone who needs an ambulance.”
        </div>
      </div>

    </div><h2>Wana Join Us?
      <br />Visit
      <a href="joinus"> Join us page</a>
      for more info</h2>
    <h3>We hope you join us and help us in making the world a better place to
      live.</h3>
  </div>
</main>