<link rel="stylesheet" href="/css/contactus.css">
<div class="container">
        <form action="contactus">
            
                        <h1>Contact Us</h1>
                        <p>Please fill in this form to contact us.</p>
                        <hr>
                        <label for="name">Name</label>
                        <input type="text" placeholder="Enter Name" name="name" required>
                        <label for="email">Email</label>
                        <input type="text" placeholder="Enter Email" name="email" required>
                        <label for="subject">Subject</label>
                        <input type="text" placeholder="Enter Subject" name="subject" required>
                        <label for="message">Message</label>
                        <input type="text" placeholder="Enter Message" name="message" required>
                        <hr>
                        <button type="submit" class="registerbtn">Submit</button>
          
        </form>
</div>
<div class="main"><div class="map"><iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1231.191453790629!2d72.84791550370198!3d19.099184088815118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c856a7d54355%3A0x9914d336f1a1b165!2sGala%20Eye%20Hospital!5e0!3m2!1sen!2sin!4v1691854847794!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe></div>
<div class="address">Swift, LLC<br>
    6524 N Albina Avenue<br>
    Portland, Oregon 97217<br>
    groovemadeinc@gmail.com<br></div></div>
 