<link rel="stylesheet" type="text/css" href="/css/signup.css" />
<div class="main">
    <div class="div-1 signup-page">
        <h1 class="name">Sign Up</h1>
        <div class="sign-up_google"><button class="sign-up_btn" onclick="window.location.href = 'auth/google'"><img src="/icons/google_icon.png" width="30px"
                    alt="logo">Sign Up With Google</button></div>
        <div class="line-part
                            "><span class="span-or">or Sign up with Email Instead</span></div>

        <form action="">
            <div class="form-input">
                <label for="username">Username:</label>
                <input type="text" class="username" name="username" placeholder="jk9167">
                <label for="Email">Email:</label>
                <input type="Email" class="Email" name="Email" placeholder="XYZ@gmail.com">

                <label for="Password">Password:</label>
                <input type="password" class="password" name="Password" placeholder="Choose Your Password">
                <label for="Password">Re-Enter your Password:</label>
                <input type="password" class="re-password" name="re-Password" placeholder="Re-Enter Your Password">
            </div>

            <div class="rem_forgot-pass">
                <div class="rem">
                    <input type="checkbox" id="Remember_me" name="Remember_me" value="Remember_me">
                      <label for="Remember_me">Remember me</label><br>
                </div>
                <div class="forgot-pass">
                    <a href="forgot-pass.html">Forgot Password?</a>
                </div>
            </div>
            <div class="signup-btn"> <a href="login.html"><button>Sign Up</button></a></div>
            <div class="create-acc">
                <span class="span">Already Have An Account?</span>
                <a href="login" class="new-login_btn">Log In</a>
            </div>
        </form>
    </div>
   
    <div class="div-2 video-container">


        <video src="/video/pexels-alan-w-10332228 (1440p).mp4" autoplay muted loop alt="Your browser does not support the video tag.">
       
        </video>
    </div>

</div>
<script src="/js/index.js"></script>